div.header {
  text-shadow: 0px -5px 5px rgb(255, 166, 0);
  color: white;
  font-style: italic;
  font-variant: small-caps;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: xx-large;
  text-align: center;
}
div.inviteLinkP {
  color: rgb(0, 140, 255);
  text-shadow: 3px 3px 1px rgb(0, 0, 0);
  font-family: "GenLight";
  font-weight: normal;
  font-style: normal;
  font-size: x-large;
  left: auto;
  padding-left: 30px;
}
div.gearUp {
  padding-left: 30px;
  padding-bottom: 20px;
  font-size: larger;
  color: whitesmoke;
  text-shadow: 6px 5px 4px orange;
}
div.join {
  padding-top: 20px;
  padding-left: 100px;
  font-size: 300px;
}
div.serverdino {
  border-radius: 50px;
}
body {
  background-color: rgb(17, 2, 41);
}
